{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro - MapShop</title>
    
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/2f21a26946.js" crossorigin="anonymous"></script>

</head>
<body>

    <!-- FORMULARIO CADASTRO -->
    <main class="container">
        <h2>Cadastro</h2>
        <form action="/docad/" method="post">
            {% csrf_token %}

            <div class="input-field">
                {{form.usuario}}
                <!-- <input type="text" name="username" id="username" placeholder="Usuário"> -->
                <div class="underline"></div>
            </div>

            <div class="input-field">
                {{form.senha}}
                <!-- <input type="password" name="password" id="password" placeholder="Senha"> -->
                <div class="underline"></div>
            </div>

            <div class="input-field">
                {{form.email}}
                <div class="underline"></div>
            </div>

            <div class="input-field">
                {{form.nome_loja}}
                <div class="underline"></div>
            </div>

            <div class="input-field">
                {{form.cnpj}}
                <div class="underline"></div>
            </div>

            <input type="submit" value="CADASTRAR">
        </form>

        <div class="alternar">
            <span>Já possui cadastro? 
                <a href="/login/">Entre</a>
            </span>
        </div>
    </main>


</body>
</html>