{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MapShop</title>
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
    <link rel="stylesheet" href="{% static 'css/meurodape.css' %}">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/2f21a26946.js" crossorigin="anonymous"></script>

</head>
<body>

    <!-- MENU -->
    <div class="container-menu">
        <nav>
            <img src="https://i.imgur.com/ywN1uWS.png" class="logo">
            <ul>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Mapa</a></li>
                <li><a href="#">Lojas</a></li>
            </ul>
            <img src="https://i.imgur.com/ODSzJtQ.png" class="user-pic" onclick="toggleMenu()">

            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    {% if custom == "Sair" %}
                        <div class="user-info">
                            <img src="https://i.imgur.com/ODSzJtQ.png">
                            <h3>{{perfil.usuario}}</h2>
                        </div>
                        <hr>
                        <a href="#" class="sub-menu-link">
                            <img src="https://i.imgur.com/K9pfeVI.png">
                            <p>Minha Loja</p>
                            <span>></span>
                        </a>
                        <a href="/editarperfil/" class="sub-menu-link">
                            <img src="https://i.imgur.com/zDwgN5B.png">
                            <p>Editar Perfil</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link" id="sair">
                            <img src="https://i.imgur.com/8h9KFLr.png">
                            <p>{{custom}}</p>
                            <span>></span>
                        </a>
                        <a href="/comentario/" class="sub-menu-link" id="sair">
                            <img src="">
                            <p>Fazer comentario</p>
                            <span>></span>
                        </a>
                    {% else %}
                        <a href="/cadastro/" class="sub-menu-link">
                            <img src="https://i.imgur.com/5kHb0v0.png">
                            <p>Cadastre Sua Loja</p>
                            <span>></span>
                        </a>
                        <a href="/login/" class="sub-menu-link">
                            <img src="https://i.imgur.com/2Iivp8V.png">
                            <p>{{custom}}</p>
                            <span>></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>

    <!-- TESTES -->
        <div class="teste">
            
        </div>

    <!-- RODAPE -->
    <div class="container-linha"><div class="linha"></div></div>
    
    <div class="container-rodape">
        <div class="rodape">
                <div style="float:left">
                    <a>Fale conosco: <br>mapshop@hotmail.com</a>
                </div>
                <div style="float:right">
                    <a href="/cadastro/" id="cad-sua-loja">Cadastre sua loja</a>
                </div>
        </div>
    </div>

    <script>
        {% if custom == "Sair" %}
        let logout = document.getElementById('sair');
        logout.addEventListener("click", ()=> {
            window.location.href = '/dologout/'
        })
        {% endif %}


        let subMenu = document.getElementById("subMenu");
        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
    </script>

</body>
</html>