{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

    <script language=javascript type="text/javascript">
        function openPop(){
            document.getElementById('popup-container').style.display = 'block';
        }
        function closepop(){
            document.getElementById('popup-container').style.display = 'none';
        }
    </script>

    <meta charset="UTF-8">
    <title>Essenciale</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script type="text/javascript" src="static/js/funcoes.js"></script>
    <script src="https://kit.fontawesome.com/2f21a26946.js" crossorigin="anonymous"></script>
</head>

<body onload="openPop()">
    <script type="text/javascript" src="javascript/funcoes.js"></script>
    <header id="cabecalho">
        <a href="index.html" id="logo">
            <img src="static/midia/logo.png" class="logo">
        </a>

        <div id="barra-pesquisa">
        <form action="#" method="post">
            <input type="text" name="search" id="search" placeholder="Busque seu produto" required>
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        </div>

        <hgroup>
        <h2><a href="#">Ajuda</a></h2>
        <h2><a href="sobre.html">Sobre</a></h2>
        <h2><a href="#"><i class="fa-solid fa-bag-shopping"></i>Sacola</a></h2>
        </hgroup>
    </header>

    <nav>
        <div id="menu">
            <ul>
                <li><a href="#">Perfumaria</a></li>
                <li><a href="#">Corpo e Banho</a></li>
                <li><a href="#">Maquiagem</a></li>
                <li><a href="#">Cabelos</a></li>
                <li><a href="#">Infantil</a></li>
                <li><a href="#">Presente</a></li>
                <li><a href="#">Promoções</a></li>
            </ul>
        </div>
    </nav>

    <div class="body-slide">
        <div class="slide">
            <div class="slides">

                <div id="voltar" class="btn" onclick="slide(1)">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div id="next" class="btn" onclick="slide(-1)">
                    <i class="fas fa-chevron-right"></i>
                </div>

                <div id="atual" class="image">
                    <img src="static/midia/slide01.jpg" alt="">
                </div>
                <div class="image">
                    <img src="static/midia/slide02.jpg" alt="">
                </div>
                <div class="image">
                    <img src="static/midia/slide03.jpg" alt="">
                </div>
            </div>
            <div class="balls">
                <div class="imgAtual" id="0"></div>
                <div id="1"></div>
                <div id="2"></div>
            </div>
        </div>
    </div>

    <h2 class="novidades">NOVIDADES PARA UM VERÃO ESPETACULAR:</h2>
    <div class="container-card">
        <div class="card">
            <div class="imagem">
                <img class="produtos" src="static/midia/protetor.png">
            </div>
            <div class="texto">
                <h2 class="text-main">Protetor Solar</h2>
                <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="button-card">
                <button type="button" class="btn-card">Comprar</button>
            </div>
        </div>
        <div class="card-meio">
            <div class="imagem">
                <img class="produtos" src="static/midia/bronzeador.png">
            </div>
            <div class="texto">
                <h2 class="text-main">Óleo Bronzeador</h2>
                <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="button-card">
                <button type="button" class="btn-card">Comprar</button>
            </div>
        </div>
        <div class="card">
            <div class="imagem">
                <img class="produtos" src="static/midia/hidratante.png">
            </div>
            <div class="texto">
                <h2 class="text-main">Hidratante Corporal</h2>
                <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="button-card">
                <button type="button" class="btn-card">Comprar</button>
            </div>
        </div>
    </div>

    <div id="rodape">
        <footer style="background-color: #f8f8f8; margin:auto; width: 100%; padding-bottom: 2px;">
            <ul class="lista-rodape">
                <li class="duv-sup">DÚVIDAS</li>
                <li><a href="#">Perguntas frequentes</a></li>
                <li><a href="#">Formas de pagamento</a></li>
                <li><a href="#">Frete e entrega</a></li>
            </ul>
            <ul class="lista-rodape">
                <li class="duv-sup">SUPORTE</li>
                <li><a href="#">Ajuda e contato</a></li>
                <li><a href="#">Lei do consumidor</a></li>
                <li><a href="#">Imprensa</a></li>
            </ul>
            <img class="cartoes" src="static/midia/icones-cartao.png">

                <div class="wrapper2">
                    <div class="icon facebook">
                        <div class="tooltip">Facebook</div>
                        <a href="https://www.facebook.com/" target="_blank"><span><i class="fab fa-facebook-f"></i></span></a>
                    </div>
        
                    <div class="icon twitter">
                        <div class="tooltip">Twitter</div>
                        <a href="https://twitter.com/" target="_blank"><span><i class="fab fa-twitter"></i></span></a>
                    </div>
        
                    <div class="icon instagram">
                        <div class="tooltip">Instagram</div>
                        <a href="https://www.instagram.com/essenciale/" target="_blank"><span><i class="fab fa-instagram"></i></span></a>
                    </div>
                </div>
            
        <p style="text-align: center; color: #cccccc; padding-top: 100px;">&copy; 2022 Essenciale</p>
        </footer>
    </div>
    
    <div id="popup-container" class="popup-container">
        <div id="popup-content" class="popup-content">
            <button class="closeX" onclick="closepop()">X</button>
                <img src="static/midia/anuncio.jpg" style="align-content: center;">
        </div>
    </div>

    <div class="body-cookie">
        <div class="wrapper">
            <img src="static/midia/cookie.png" alt="">
            <div class="content">
                <header>Cookies</header>
                <p>Este site utiliza cookies para te proporcionar uma melhor experiência. <a href="https://privacidade.grupoboticario.com.br/" target="_blank">Política de Privacidade</a></p>
                <div class="buttons">
                    <button class="item">Aceitar</button>
                    <a href="https://policies.google.com/technologies/cookies?hl=pt-BR" target="_blank" class="item">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        const cookieBox = document.querySelector(".wrapper"),
        acceptBtn = cookieBox.querySelector("button");

        acceptBtn.onclick = ()=>{
             //setting cookie for 1 month, after one month it'll be expired automatically
            document.cookie = "CookieBy=CodingNepal; max-age="+60*60*24*30;
            if(document.cookie){ //if cookie is set
                cookieBox.classList.add("hide"); //hide cookie box
            }else{ //if cookie not set then alert an error
                alert("Cookie can't be set! Please unblock this site from the cookie setting of your browser.");
            }
        }
        let checkCookie = document.cookie.indexOf("CookieBy=CodingNepal"); //checking our cookie
        //if cookie is set then hide the cookie box else show it
        checkCookie != -1 ? cookieBox.classList.add("hide") : cookieBox.classList.remove("hide");
    </script>
    {% block body %}
    {% endblock %}
</body>
</html>