/*body{
    margin: 0;
}
.colore{
    color: purple;
}*/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Formatação Cabeçalho */
.logo {
    height: 90px;
}

header#cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: #f8f8f8;
}

form input, form button {
    font-size: 1.2em;
    border-radius: 2px;
    border: none;
    padding: 10px;
}
form button {
    cursor: pointer;
    background: #F3B8CC;
    color: black;
}
form button:hover {
    color: white;
}

header h2 {
    font-size: 11pt;
    padding: 20px;
}

hgroup {
    display: flex;
    margin-left: 40px;
}
hgroup h2 a {
    text-decoration: none;
    color: gray;
}
hgroup h2 a:hover {
    text-decoration: underline;
}
hgroup h2 a i {
    margin-right: 5px;
}

div#barra-pesquisa {
    margin-left: 40px;
}

/* Formatação Menu */
div#menu ul {
    margin: 0;
    padding: 0;
    background-color: #F3B8CC;
    list-style: none;
    text-align: center;
}

div#menu ul li {
    display: inline;
}

div#menu ul li a {
    padding: 12px 20px;
    display: inline-block;

    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

div#menu ul li a:hover {
    color: #ffffff;
}

/* Formatação Slides */
.body-slide {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.slide {
    width: 1040px;
    height: 576px;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.4s;
}

.slides {
    width: 5120px;
    display: flex;
}

.image img {
    width: 1040px;
    height: 576px;
}

#atual {
    margin-left: 0px;
    transition: all 2s;
}

.btn {
    position: absolute;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
    background: #F3B8CC;
    border-radius: 2px;

}
.btn:hover {
    transform: scale(1.5);
}
#voltar {
    top: 480px;
    left: 10%;
    
}
#next {
    top: 480px;
    right: 10%;

}
.balls {
    position: absolute;
    width: 1040px;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}
.balls div{
    transition: all 0.5s;
    border: 3px solid white;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    
}
.balls div:hover {
    background: white;
}
.imgAtual {
    transform: all 0.5s;
    background: #fff;
}

/* Formatação Card Teste */
h2.novidades {
    font-size: 15pt;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 36px;
}

.container-card {
    display: flex;
    justify-content: center;
}

.card {
    width: 330px;
    height: 500px;
    border-radius: 10px;
    background-color: #f3c7d6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-meio {
    width: 330px;
    height: 500px;
    border-radius: 10px;
    background-color: #f3c7d6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-left: 30px;
    margin-right: 30px;
}

.imagem {
    display: flex;
    justify-content: center;
}

.produtos{
    height: 300px;
    margin-top: 10px;
}

.text-main {
    text-align: center;
    color: black;
    font-size: 12pt;
    font-weight: 600;
}

.desc {
    color: black;
    font-weight: 200;
    text-align: center;
    font-size: 10pt;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-card {
    padding: 10px 30px;
    font-weight: bold;
    font-size: 10pt;
    border-radius: 10px;
    border: none;
    transition: 1s;
    background-color: white;
    cursor: pointer;
}

.btn-card:hover {
    transition: 1s;
    background-color: rgb(223, 223, 223);
}

.button-card {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

/* Formatação Rodapé */
#rodape {
    margin-top: 80px;
    text-align: center;
    align-items: center;
}

.lista-rodape {
    text-align: left; 
    color: gray;
    display: inline-block; 
    vertical-align: top;
    list-style: none;
    line-height: 2;
}
.lista-rodape a {
    text-decoration: none;
    color: gray;
}
.lista-rodape a:hover {
    text-decoration: underline;
}

.duv-sup {
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 64px;
}

.cartoes {
    margin-left: 100px;
    margin-top: 80px;
    margin-right: 80px;
}

/* media buttons */
.wrapper2 {
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    
}
.wrapper2 .icon {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    margin-top: 120px;
}
.wrapper2 .icon a {
    text-decoration: none;
    color: gray;
}
.wrapper2 .icon span {
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    
}
.wrapper2 .icon span i {
    font-size: 25px;
    line-height: 60px;
}
.wrapper2 .icon:hover span {
    color: #fff;
}
.wrapper2 .icon .tooltip {
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper2 .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}
.wrapper2 .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper2 .icon:hover span, 
.wrapper2 .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.wrapper2 .facebook:hover span, 
.wrapper2 .facebook:hover .tooltip,
.wrapper2 .facebook:hover .tooltip:before {
    background: #3B5999;
}
.wrapper2 .twitter:hover span, 
.wrapper2 .twitter:hover .tooltip,
.wrapper2 .twitter:hover .tooltip:before {
    background: #46C1F6;
}
.wrapper2 .instagram:hover span, 
.wrapper2 .instagram:hover .tooltip,
.wrapper2 .instagram:hover .tooltip:before {
    background: #e1306c;
}


/* infografico/audio sobre */
#infografico {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#body-audio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container-audio{
    margin-top: 20px;
    background-color: white;
    width: 100%;
    max-width: 450px;
    margin-bottom: -40px;
}
#player{
    width: 500px;
}
#audiowave{
    height: 24px;
    width: 24px;
}
h4{
    margin-top: 10%;
    padding-left: 5%;
}
.audio{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
audio{
    width: 90%;
}

/* popup anuncio */
.closeX{
    position: absolute;
    background-color: #F3B8CC;
    color: black;
    border: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
    font-size: 15pt;
    cursor: pointer;
}
.closeX:hover {
    color: white;
}
.popup-container{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);     /* a = escala de opacidade */
    z-index: 1000;
    display: none;
    align-content: center;
    padding-top: 12%;
    padding-left: 27%;
}

/* cookies */
.body-cookie {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 365px;
    border-radius: 15px;
    text-align: center;
    padding: 25px 25px 30px 25px;
}

.wrapper.hide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.wrapper img {
    max-width: 160px;
}

.wrapper .content {
    margin-top: 10px;
}

.content header {
    font-size: 25px;
    font-weight: 600;
}

.content p {
    color: #858585;
    margin: 5px 0 20px 0;
}
.content p a {
    font-size: 14px;
    color: gray;
}
.content p a:hover {
    color: rgb(82, 82, 82);
}

.content .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons .item {
    margin: 0 10px;
}

.buttons button {
    padding: 10px 20px;
    background: #F3B8CC;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s;
}
.buttons button:hover {
    transform: scale(1.2);
}

.buttons a {
    color: #F3B8CC;
}
