@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    margin: 0% 4% 2% 4%;
    font-family: 'Abel', sans-serif;
}


/* MENU */
/* no arquivo menurodape.css */


/* CAROUSEL CATEGORIAS */
.container-carousel{
    justify-content: center;
    align-items: center;
    display: flex;
}
.main-carousel{
    width: 95%;
}
.cell{
    width: 25%;
    height: 350px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 8px;
}
.cell img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}


/* PROMOÇÕES */
.container-titprom{
    display: flex;                  /* hori verti */
    justify-content: center;        /* hori verti */
    align-items: center;            /* hori verti */
    text-align: center;
}
.tit-prom{
    margin-top: 12%;
    width: 25%;
    height: 52px;
    background-color: #F50E0E;
    color: white;
    font-size: 22pt;
    text-align: center;

    display: flex;                  /* hori verti */
    justify-content: center;        /* hori verti */
    align-items: center;  
}

.container-proms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6%;
}
.promocoes{
    width: 76%;
    display: flex;
    flex-direction: row;
}
.card{
    width: 33%;
    height: 200px;
    background-color: #D9D9D9;
    
    display: flex;                  /* hori verti */
    justify-content: center;        /* hori verti */
    align-items: center;            /* hori verti */
    text-align: center;
}
#prom-meio{
    margin-left: 4%;
    margin-right: 4%;
}
.prom-txt{
    font-size: 20pt;
    color: #F50E0E;
    font-weight: 400;
}


/* CAROUSEL ??? */
.container-aleat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 12%;
}
.aleatorio{
    width: 90%;
    height: 600px;
    background-color: #D9D9D9;
}


/* RODAPE */
/* no arquivo menurodape.css */
